<div id="homepage-slider-wrap">
    <div id="homepage-slider-pattern">
        <div id="homepage-content">
            <div id="homepage-text">
                <div class="region region-homepage-text">
                    <div id="block-block-4" class="block block-block">


                        <div class="content">
                            <p>Semantic data annotation by Stealth<br><a id="read-more-link" href="https://rightfield.org.uk/about.html">Find out more</a></p>
                        </div>

                    </div> <!-- /.block -->
                </div>
                <!-- /.region -->
            </div>
            <div id="homepage-image">
                <img width="480" height="320" src="https://rightfield.org.uk/sites/all/themes/company/images/rightfield-www-front-page-scaled-opt.png">
            </div>
        </div>
    </div>
</div>