{% include head.html %}

<div id="header-wrap">
    <nav id="navigation" class="clearfix" role="navigation">
        <div id="menu-menu-container">
            <div id="main-menu">
                <ul class="menu"><li class="first leaf"><a href="/" class="active">Home</a></li>
                    <li class="leaf"><a href="/about.html">About</a></li>
                    <li class="leaf"><a href="/download.html">Download</a></li>
                    <li class="leaf"><a href="/support.html">Support</a></li>
                    <li class="leaf"><a href="/development.html">Development</a></li>
                    <li class="leaf"><a href="/publications.html">Publications</a></li>
                    <li class="leaf"><a href="/contact_us.html">Contacting Us</a></li>
                    <li class="leaf"><a href="/registration.html">Register</a></li>
                    <li class="last leaf"><a href="/other_systems.html">Other Systems</a></li>
                </ul>       </div>
        </div>
    </nav>
    <header id="header" class="clearfix" role="banner">
        <hgroup>

            <div id="logo">
                <a href="/" title="Home"><img src="/assets/images/rightfield-logo-120-opt.png" alt="Home" /></a>
            </div>
            <div id="sitename">
                <h1><a href="/" title="Home"></a></h1>
            </div>
            <div id="download-button">
                <a href="/download.html">
                    <img width=90 height=90 src="/assets/images/big-download-button-opt.png"/>
                    <span>Download</span>
                </a>
            </div>
        </hgroup>
    </header>
</div>